
<div class="area">
<h2>Call List</h2>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
    <th>col</th>
    <th>col</th>
    <th>col</th>
    <th>col</th>
    <th>col</th>
    <th>col</th>
    <th>col</th>
    <th>col</th>
    </tr>
  </thead>
  <tbody>
    <tr><td><input type="checkbox"></td><td>cell</td><td>cell</td><td>cell</td><td>cell</td><td>cell</td><td>cell</td><td><button type="button" class="btn bnt-min">Remove from call list</button></td></tr>
    <tr><td><input type="checkbox"></td><td>cell</td><td>cell</td><td>cell</td><td>cell</td><td>cell</td><td>cell</td><td><button type="button" class="btn bnt-min">Remove from call list</button></td></tr>
  </tbody>
</table>
</div>
