
<div class="area">
  <div class="pull-right">
    <a ui-sref="results" class="btn btn-danger" ui-sref-active="active">Search</a>
  </div>
  <b>Contact: </b>Firstname Lastname. | <b>Company: </b>ABC &amp; Associates LLC Inc.
</div>
<div class="row-fluid row-well">
  <div class="span6 span-well">
      <span class="legend">Category:</span>
      <label class="checkbox inline"><input type="checkbox" name="cat-x" ng-model="prf.Lender.Debt" ng-change="toggleProfile('debt')"/>Debt</label>
      <label class="checkbox inline"><input type="checkbox" name="cat-x" ng-model="prf.Lender.Structured_Finance" ng-change="toggleProfile('str_fin')"/>Structured Finance</label>
  </div>
  <!--<div class="span6 span-well">
      <span class="legend">Vehicles:</span>
      <select class="no-bottom-margin" ng-model="prf.vehicle">
        <option value="Vehicle a">Vehicle a</option>
      </select>
   </div>-->
 </div>
<div class="row area-well showon showon-owner">
  <span class="legend">Type:</span>
  <label class="checkbox inline span3 showon"><input type="checkbox" ng-model="prf.Type.Agency"/>Agency</label>
  <label class="checkbox inline span3 showon"><input type="checkbox" ng-model="prf.Type.Bank_Thrift"/>Bank/Thrift</label>
  <label class="checkbox inline span3"       ><input type="checkbox" ng-model="prf.Type.Buyer"/>Buyer</label>
  <label class="checkbox inline span3 showon"><input type="checkbox" ng-model="prf.Type.Conduit"/>Conduit</label>
  <label class="checkbox inline span3 showon"><input type="checkbox" ng-model="prf.Type.Credit_Corp"/>Credit Corp</label>
  <label class="checkbox inline span3 showon"><input type="checkbox" ng-model="prf.Type.Debt_Fund"/>Debt Fund</label>
  <label class="checkbox inline span3"       ><input type="checkbox" ng-model="prf.Type.Developer"/>Developer</label>
  <label class="checkbox inline span3"       ><input type="checkbox" ng-model="prf.Type.Fund_Advisor"/>Fund Advisor</label>
  <label class="checkbox inline span3"       ><input type="checkbox" ng-model="prf.Type.Institution_Equity"/>Institution Equity</label>
  <label class="checkbox inline span3"       ><input type="checkbox" ng-model="prf.Type.Life_Company"/>Life Company</label>
  <label class="checkbox inline span3"       ><input type="checkbox" ng-model="prf.Type.Pension_Fund"/>Pension Fund</label>
  <label class="checkbox inline span3"       ><input type="checkbox" ng-model="prf.Type.Private_Equity"/>Private Equity</label>
  <label class="checkbox inline span3"       ><input type="checkbox" ng-model="prf.Type.REIT"/>REIT</label>
</div>
<div class="row-fluid row-well">
  <div class="span4 span-well showon showon-owner">
  <span class="legend">JLL Advocate:</span>
  <div class="form-search">
    <input type="text" class="input-medium search-query" ng-model="searchPerson" placeholder="Type a name"/>
    <button type="submit" class="btn btn-mini" ng-click="searchPerson = 'User McGoo'"><i class="fa fa-search"></i></button>
  </div>
  </div>
  <div class="span4 span-well showon showon-owner">
    <span class="legend">Property Quality:</span>
    <label class="checkbox inline"><input type="checkbox" ng-model="prf.Property_Quality.A" />A</label>
    <label class="checkbox inline"><input type="checkbox" ng-model="prf.Property_Quality.B" />B</label>
    <label class="checkbox inline"><input type="checkbox" ng-model="prf.Property_Quality.C" />C</label>
    <label class="checkbox inline"><input type="checkbox" ng-model="prf.Property_Quality.Sub_C" />Sub C</label>
  </div>
  <div class="span4 span-well showon showon-owner">
    <span class="legend">Deal Size:</span>
    <span class="nowrap">Min: <input type="number" class="inlineinput no-bottom-margin" ng-model="prf.Deal_Size.min" min="0" max="99" required/></span>
    <span class="nowrap">Max: <input type="number" class="inlineinput no-bottom-margin" ng-model="prf.Deal_Size.max" min="0" max="99" required/></span>
  </div>
</div>

<div class="row area-well showon showon-owner">
    <span class="legend">Client Programs:</span>
    <label ng-repeat="cp in Client_Programs | orderBy:'toString()' | filter:searchText" class="checkbox inline span3"><input type="checkbox" ng-checked="prf.Client_Programs.indexOf(cp) > -1" ng-click="cpToggleSelect(cp)"/>{{cp}}</label>
</div>

<div class="row area-well showon">
    <span class="legend">Programs:</span>
    <label ng-repeat="prog in Programs | orderBy:'toString()' | filter:searchText" class="checkbox inline span3"><input type="checkbox" ng-checked="prf.Programs.indexOf(prog) > -1" ng-click="progToggleSelect(prog)"/>{{prog}}</label>
</div>

<div class="area-well showon">
      <span class="legend">Economic Parameters:</span>
      <label class="checkbox inline"><input type="checkbox" ng-model="prf.Economic_Parameters.Non_Stabilized" />Non-stabilized</label>
      <label class="checkbox inline"><input type="checkbox" ng-model="prf.Economic_Parameters.Non_Cash_flowing_vacant"/>Non-Cash flowing/vacant</label>
    </div>
</div>

<div class="row-fluid row-well">
  <div class="span6 span-well showon showon-owner">
    <span class="legend">Property types:</span>
    <div class="row-fluid">
      <div class="span4 proptype-btns">
        <button type="button" class="btn btn-mini clearfix" ng-click="Property_type_Active = 'Office'" ng-class="{active: Property_type_Active == 'Office'}">Office <i class="fa fa-arrow-right pull-right"></i></button><br/>
        <button type="button" class="btn btn-mini clearfix" ng-click="Property_type_Active = 'Retail'" ng-class="{active: Property_type_Active == 'Retail'}">Retail <i class="fa fa-arrow-right pull-right"></i></button><br/>
        <button type="button" class="btn btn-mini clearfix" ng-click="Property_type_Active = 'Industrial'" ng-class="{active: Property_type_Active == 'Industrial'}">Industrial <i class="fa fa-arrow-right pull-right"></i></button><br/>
        <button type="button" class="btn btn-mini clearfix" ng-click="Property_type_Active = 'Multi-Family'" ng-class="{active: Property_type_Active == 'Multi-Family'}">Multi-Family <i class="fa fa-arrow-right pull-right"></i></button><br/>
        <button type="button" class="btn btn-mini clearfix" ng-click="Property_type_Active = 'Senior-Living'" ng-class="{active: Property_type_Active == 'Senior-Living'}">Senior-Living <i class="fa fa-arrow-right pull-right"></i></button><br/>
        <button type="button" class="btn btn-mini clearfix" ng-click="Property_type_Active = 'Medical'" ng-class="{active: Property_type_Active == 'Medical'}">Medical <i class="fa fa-arrow-right pull-right"></i></button><br/>
        <button type="button" class="btn btn-mini clearfix" ng-click="Property_type_Active = 'Other'" ng-class="{active: Property_type_Active == 'Other'}">Other <i class="fa fa-arrow-right pull-right"></i></button><br/>
        <button type="button" class="btn btn-mini clearfix" ng-click="Property_type_Active = 'Land'" ng-class="{active: Property_type_Active == 'Land'}">Land <i class="fa fa-arrow-right pull-right"></i></button>
      </div>
      <div class="span8 proptype-slcts">
        <h4>{{Property_type_Active}}:</h4>
        <div ng-repeat="(key, value) in Property_type" class="pt" ng-show="Property_type_Active == key">
          <div class="btn-group">
            <button class="btn btn-mini" ng-click="fillPT(key)"><i class="fa fa-check-square-o"></i> All</button>
            <button class="btn btn-mini" ng-click="prf.Property_type[key] = []"><i class="fa fa-check-square-o"></i> None</button>
          </div>
          <label ng-repeat="item in value | orderBy:'toString()' | filter:searchText" class="checkbox" ng-class="{selected: prf.Property_type[key].indexOf(item) > -1}">
            <input type="checkbox" name="selectedST" value="{{item}}" ng-checked="prf.Property_type[key].indexOf(item) > -1" ng-click="togglePT(item,key)"> {{item}}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="span6 span-well showon showon-owner">
    <span class="legend">Geography:</span>
    <div class="row-fluid">
      <div class="">
        <label class="checkbox radio inline"><input type="radio" name="geo" ng-model="prf.Geo.Type" value="Nationwide" ng-change="geoChange('us')" /> Nationwide</label>
        <label class="checkbox radio inline"><input type="radio" name="geo" ng-model="prf.Geo.Type" value="International" ng-change="geoChange('in')" /> International</label>
        <br>
        <div class="geo-dd us hide">
          <div class="btn-group">
            <button class="btn btn-mini" ng-click="fillStates()"><i class="fa fa-check-square-o"></i> All</button>
            <button class="btn btn-mini" ng-click="prf.Geo.States = []"><i class="fa fa-check-square-o"></i> None</button>
          </div>
          <label ng-repeat="ST in StatesList" class="checkbox" ng-class="{selected: prf.Geo.States.indexOf(ST) > -1}">
            <input type="checkbox" value="{{ST}}" ng-checked="prf.Geo.States.indexOf(ST) > -1" ng-click="toggleState(ST)"/> {{ST}}
          </label>
        </div>
        <select class="geo-dd in" ng-model="prf.Geo.Country">
          <option value="Afghanistan">Afghanistan</option>
          <option value="Albania">Albania</option>
          <option value="Algeria">Algeria</option>
          <option value="Andorra">Andorra</option>
          <option value="Angola">Angola</option>
          <option value="Antigua and Barbuda">Antigua and Barbuda</option>
          <option value="Argentina">Argentina</option>
          <option value="Armenia">Armenia</option>
          <option value="Aruba">Aruba</option>
          <option value="Australia">Australia</option>
          <option value="Austria">Austria</option>
          <option value="Azerbaijan">Azerbaijan</option>
          <option value="Bahamas, The">Bahamas, The</option>
          <option value="Bahrain">Bahrain</option>
          <option value="Bangladesh">Bangladesh</option>
          <option value="Barbados">Barbados</option>
          <option value="Belarus">Belarus</option>
          <option value="Belgium">Belgium</option>
          <option value="Belize">Belize</option>
          <option value="Benin">Benin</option>
          <option value="Bhutan">Bhutan</option>
          <option value="Bolivia">Bolivia</option>
          <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
          <option value="Botswana">Botswana</option>
          <option value="Brazil">Brazil</option>
          <option value="Brunei">Brunei</option>
          <option value="Bulgaria">Bulgaria</option>
          <option value="Burkina Faso">Burkina Faso</option>
          <option value="Burma">Burma</option>
          <option value="Burundi">Burundi</option>
          <option value="Cambodia">Cambodia</option>
          <option value="Cameroon">Cameroon</option>
          <option value="Canada">Canada</option>
          <option value="Cape Verde">Cape Verde</option>
          <option value="Central African Republic">Central African Republic</option>
          <option value="Chad">Chad</option>
          <option value="Chile">Chile</option>
          <option value="China">China</option>
          <option value="Colombia">Colombia</option>
          <option value="Comoros">Comoros</option>
          <option value="Congo, Democratic Republic of the">Congo, Democratic Republic of the</option>
          <option value="Congo, Republic of the">Congo, Republic of the</option>
          <option value="Costa Rica">Costa Rica</option>
          <option value="Cote d'Ivoire">Cote d'Ivoire</option>
          <option value="Croatia">Croatia</option>
          <option value="Cuba">Cuba</option>
          <option value="Curacao">Curacao</option>
          <option value="Cyprus">Cyprus</option>
          <option value="Czech Republic">Czech Republic</option>
          <option value="Denmark">Denmark</option>
          <option value="Djibouti">Djibouti</option>
          <option value="Dominica">Dominica</option>
          <option value="Dominican Republic">Dominican Republic</option>
          <option value="East Timor (see Timor-Leste)">East Timor (see Timor-Leste)</option>
          <option value="Ecuador">Ecuador</option>
          <option value="Egypt">Egypt</option>
          <option value="El Salvador">El Salvador</option>
          <option value="Equatorial Guinea">Equatorial Guinea</option>
          <option value="Eritrea">Eritrea</option>
          <option value="Estonia">Estonia</option>
          <option value="Ethiopia">Ethiopia</option>
          <option value="Fiji">Fiji</option>
          <option value="Finland">Finland</option>
          <option value="France">France</option>
          <option value="Gabon">Gabon</option>
          <option value="Gambia">Gambia, The</option>
          <option value="Georgia">Georgia</option>
          <option value="Germany">Germany</option>
          <option value="Ghana">Ghana</option>
          <option value="Greece">Greece</option>
          <option value="Grenada">Grenada</option>
          <option value="Guatemala">Guatemala</option>
          <option value="Guinea">Guinea</option>
          <option value="Guinea-Bissau">Guinea-Bissau</option>
          <option value="Guyana">Guyana</option>
          <option value="Haiti">Haiti</option>
          <option value="Holy See">Holy See</option>
          <option value="Honduras">Honduras</option>
          <option value="Hong Kong">Hong Kong</option>
          <option value="Hungary">Hungary</option>
          <option value="Iceland">Iceland</option>
          <option value="India">India</option>
          <option value="Indonesia">Indonesia</option>
          <option value="Iran">Iran</option>
          <option value="Iraq">Iraq</option>
          <option value="Ireland">Ireland</option>
          <option value="Israel">Israel</option>
          <option value="Italy">Italy</option>
          <option value="Jamaica">Jamaica</option>
          <option value="Japan">Japan</option>
          <option value="Jordan">Jordan</option>
          <option value="Kazakhstan">Kazakhstan</option>
          <option value="Kenya">Kenya</option>
          <option value="Kiribati">Kiribati</option>
          <option value="Korea">Korea, North</option>
          <option value="Korea">Korea, South</option>
          <option value="Kosovo">Kosovo</option>
          <option value="Kuwait">Kuwait</option>
          <option value="Kyrgyzstan">Kyrgyzstan</option>
          <option value="Laos">Laos</option>
          <option value="Latvia">Latvia</option>
          <option value="Lebanon">Lebanon</option>
          <option value="Lesotho">Lesotho</option>
          <option value="Liberia">Liberia</option>
          <option value="Libya">Libya</option>
          <option value="Liechtenstein">Liechtenstein</option>
          <option value="Lithuania">Lithuania</option>
          <option value="Luxembourg">Luxembourg</option>
          <option value="Macau">Macau</option>
          <option value="Macedonia">Macedonia</option>
          <option value="Madagascar">Madagascar</option>
          <option value="Malawi">Malawi</option>
          <option value="Malaysia">Malaysia</option>
          <option value="Maldives">Maldives</option>
          <option value="Mali">Mali</option>
          <option value="Malta">Malta</option>
          <option value="Marshall Islands">Marshall Islands</option>
          <option value="Mauritania">Mauritania</option>
          <option value="Mauritius">Mauritius</option>
          <option value="Mexico">Mexico</option>
          <option value="Micronesia">Micronesia</option>
          <option value="Moldova">Moldova</option>
          <option value="Monaco">Monaco</option>
          <option value="Mongolia">Mongolia</option>
          <option value="Montenegro">Montenegro</option>
          <option value="Morocco">Morocco</option>
          <option value="Mozambique">Mozambique</option>
          <option value="Namibia">Namibia</option>
          <option value="Nauru">Nauru</option>
          <option value="Nepal">Nepal</option>
          <option value="Netherlands">Netherlands</option>
          <option value="Netherlands Antilles">Netherlands Antilles</option>
          <option value="New Zealand">New Zealand</option>
          <option value="Nicaragua">Nicaragua</option>
          <option value="Niger">Niger</option>
          <option value="Nigeria">Nigeria</option>
          <option value="North Korea">North Korea</option>
          <option value="Norway">Norway</option>
          <option value="Oman">Oman</option>
          <option value="Pakistan">Pakistan</option>
          <option value="Palau">Palau</option>
          <option value="Palestinian Territories">Palestinian Territories</option>
          <option value="Panama">Panama</option>
          <option value="Papua">Papua New Guinea</option>
          <option value="Paraguay">Paraguay</option>
          <option value="Peru">Peru</option>
          <option value="Philippines">Philippines</option>
          <option value="Poland">Poland</option>
          <option value="Portugal">Portugal</option>
          <option value="Qatar">Qatar</option>
          <option value="Romania">Romania</option>
          <option value="Russia">Russia</option>
          <option value="Rwanda">Rwanda</option>
          <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
          <option value="Saint Lucia">Saint Lucia</option>
          <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
          <option value="Samoa">Samoa</option>
          <option value="San Marino">San Marino</option>
          <option value="Sao Tome and Principe">Sao Tome and Principe</option>
          <option value="Saudi Arabia">Saudi Arabia</option>
          <option value="Senegal">Senegal</option>
          <option value="Serbia">Serbia</option>
          <option value="Seychelles">Seychelles</option>
          <option value="Sierra Leone">Sierra Leone</option>
          <option value="Singapore">Singapore</option>
          <option value="Sint">Sint Maarten</option>
          <option value="Slovakia">Slovakia</option>
          <option value="Slovenia">Slovenia</option>
          <option value="Solomon Islands">Solomon Islands</option>
          <option value="Somalia">Somalia</option>
          <option value="South Africa">South Africa</option>
          <option value="South Sudan">South Sudan</option>
          <option value="Spain">Spain</option>
          <option value="Sri">Sri Lanka</option>
          <option value="Sudan">Sudan</option>
          <option value="Suriname">Suriname</option>
          <option value="Swaziland">Swaziland</option>
          <option value="Sweden">Sweden</option>
          <option value="Switzerland">Switzerland</option>
          <option value="Syria">Syria</option>
          <option value="Taiwan">Taiwan</option>
          <option value="Tajikistan">Tajikistan</option>
          <option value="Tanzania">Tanzania</option>
          <option value="Thailand">Thailand</option>
          <option value="Timor-Leste">Timor-Leste</option>
          <option value="Togo">Togo</option>
          <option value="Tonga">Tonga</option>
          <option value="Trinidad and Tobago">Trinidad and Tobago</option>
          <option value="Tunisia">Tunisia</option>
          <option value="Turkey">Turkey</option>
          <option value="Turkmenistan">Turkmenistan</option>
          <option value="Tuvalu">Tuvalu</option>
          <option value="Uganda">Uganda</option>
          <option value="Ukraine">Ukraine</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Kingdom">United Kingdom</option>
          <option value="United States">United States</option>
          <option value="Uruguay">Uruguay</option>
          <option value="Uzbekistan">Uzbekistan</option>
          <option value="Vanuatu">Vanuatu</option>
          <option value="Venezuela">Venezuela</option>
          <option value="Vietnam">Vietnam</option>
          <option value="Yemen">Yemen</option>
          <option value="Zambia">Zambia</option>
          <option value="Zimbabwe">Zimbabwe</option>
        </select>
      </div>
    </div>
    <div class="well">
      <label class="checkbox radio"><input type="radio" name="markets" ng-model="prf.Markets" value="1st" /> Primary markets only</label>
      <label class="checkbox radio"><input type="radio" name="markets" ng-model="prf.Markets" value="1st_2nd" /> Primary &amp; secondary markets only</label>
      <label class="checkbox radio"><input type="radio" name="markets" ng-model="prf.Markets" value="1st_2nd_3rd"/> Primary, secondary, &amp; tertiary markets</label>
      <label class="checkbox radio"><input type="radio" name="markets" ng-model="prf.Markets" value="none" /> none</label>
    </div>
  </div>
</div>

<div class="area clearfix">
  <div class="pull-right">
    <button type="button" class="btn btn-danger">Search</button>
  </div>
</div>
