html{
  height:100%;
}
body{
  padding-top:42px;
  height:100%;
}
body, body * {
  box-sizing: border-box;
}
/*bootstrap changes*/
input[type="text"]{
  box-sizing: content-box;
}
label {
margin-bottom: 0
}
input {
height: 9px;
}
.input-append{
  white-space: nowrap;
}
/**/
.navbar{
  border-bottom:2px solid #cc3b3b;
}
.navbar .brand {
  margin-left: 0;
}
.section{
  display: table;
  table-layout: fixed;
  min-height: 100%;
  min-width: 100%
}

nav{
  display:table-cell;
  vertical-align:top;
  width:86px;
  background-color:#333;
}
nav:before, aside:before{
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
  width:86px;
}
.tabs{
  background: #ccc none;
  border-width: 0;
  border-left: 5px solid #cc3333;
  border-radius: 3px 0 0 3px;
  display: block;
  height: 55px;
  line-height: 45px;
  margin: 3px 0 0 6px;
  text-align: center;
  width: 80px;
}
article{
  display:table-cell;
  vertical-align:top;
  background-color:#C6D0D5;
  background-image: url('../img/gray_jean.png');
  padding-bottom:10px;
/*  background-image:repeating-linear-gradient(145deg, transparent 0, transparent 40px, rgba(255,255,255,.15) 40px, rgba(255,255,255,0.15) 80px);*/
}
article .area{
margin: 10px;
padding: 10px;
}
article .area-well{
position: relative;
margin: 10px;
padding: 29px 10px 10px;
background-color: #fff;
border: 1px solid #bbb;
border-radius: 4px;
width:auto;
}
.row-well{
  width: auto;
  margin:10px;
}
.row-fluid .span-well{
position: relative;
padding: 29px 10px 10px;
background-color: #fff;
border: 1px solid #bbb;
border-radius: 4px;
}

.legend {
position: absolute;
top: -1px;
left: -1px;
padding: 3px 7px;
font-size: 12px;
font-weight: bold;
background-color: #f5f5f5;
border: 1px solid #bbb;
color: #9da0a4;
border-radius: 4px 0 4px 0;
white-space: nowrap;
max-width: 100%;
overflow: hidden;
text-overflow:ellipsis;
min-width: 102px;
}
.nowrap{
  white-space: nowrap;
}

.checkbox.inline {
  margin-left: 10px;
}
.tall-select[multiple]{
  height: 212px;
}
select{
  max-width:100%;
}
.controls input{
  width:90%;
}



.inlineinput{
  width:auto;
  max-width: 27%
}

.well {
padding: 10px;
margin-bottom: 0
}

.no-bottom-margin{
  margin-bottom: 0
}

aside pre{
  font-size: 9px;
  line-height: 10px;
  height: 600px;
  overflow: auto
}

.geo-dd.us{
  width:210px;
  max-width: 100%;
  height: 80px;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: auto;
  padding: 4px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top
}
.geo-dd.us label, .pt label{
margin-top: 1px
}
.geo-dd.us .selected, .pt .selected{
  background-color: #eee;
}

.proptype-btns{
  text-align: right;
}
.proptype-btns button{
  min-width: 100%
}

.radio.inline, .checkbox.inline {
padding-top: 0;
}

.pt{
  width: 210px;
max-width: 100%;
height: 142px;
border: 1px solid #ccc;
border-radius: 3px;
overflow: auto;
padding: 4px;
margin-bottom: 10px;
display: inline-block;
vertical-align: top;
}
